<div class="mt-2">
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-4 ">
      <p-panel showHeader="false">
        <div class="grid auto-cols-max grid-flow-col auto-rows-max mt-4 gap-4">
          <p-iftalabel>
            <p-select formControlName="entity_type" [options]="entityTypeOptions" optionLabel="label"
              optionValue="value" variant="filled" placeholder="Seleccione" class="w-full md:w-56" />
            <label for="on_label">Tipo de Persona</label>
          </p-iftalabel>
          <p-iftalabel>
            <input pInputText id="on_label" formControlName="ruc" autocomplete="off" />
            <label for="on_label">RUC</label>
          </p-iftalabel>
          <p-iftalabel>
            <input pInputText id="on_label" formControlName="dni" autocomplete="off" />
            <label for="on_label">DNI</label>
          </p-iftalabel>
        </div>
      </p-panel>
      <p-panel showHeader="false">
        <div class="grid auto-cols-max grid-flow-col auto-rows-max mt-4 gap-4">
          <p-iftalabel>
            <input pInputText id="on_label" formControlName="business_name" autocomplete="off" />
            <label for="on_label">Razon Social</label>
          </p-iftalabel>
          <p-iftalabel>
            <input pInputText id="on_label" formControlName="name" autocomplete="off" />
            <label for="on_label">Nombres</label>
          </p-iftalabel>
          <p-iftalabel>
            <input pInputText id="on_label" formControlName="last_name" autocomplete="off" />
            <label for="on_label">Apellidos</label>
          </p-iftalabel>
        </div>
      </p-panel>
      <p-panel showHeader="false">
        <div class="grid auto-cols-max grid-flow-col auto-rows-max mt-4 gap-4">
          <p-iftalabel>
            <input pInputText id="on_label" formControlName="phone_number" autocomplete="off" />
            <label for="on_label">Celular</label>
          </p-iftalabel>
          <p-iftalabel>
            <input pInputText id="on_label" formControlName="email" autocomplete="off" />
            <label for="on_label">Email</label>
          </p-iftalabel>
        </div>
      </p-panel>

    </div>
    <div class="flex gap-2 justify-end mt-4">
      <p-button label="Cancelar" [raised]="true" (onClick)="onCancel()" />
      <p-button label="Guardar Cliente" [raised]="true" type="submit" [disabled]="customerForm.invalid" />
    </div>
  </form>
</div>